{% comment %} product-card {% endcomment %}

{% liquid 
  if add_collection_url
    assign product_url = product.url | within: collection
  else 
    assign product_url = product.url
  endif
%}


<div class="single-product-listing">
  <!-- Add class "PRODUCT-MESSAGE" to show action button stauts like added to cart, added to wishlist -->
  <div class="long-product-img cover-image product-image product-message-">
    <a href="{{ product_url }}">
      {% render 'image-tag', 
        image: product.featured_media, 
        image_alt: product.featured_media.alt, 
      %}
      <p class="product-hover-text">View Product</p>
    </a>

    <div class="product-action-button">
      <span data-toggle="tooltip" data-bs-placement="left" title="Add to wishlist" aria-label="Add to wishlist">
        {% render 'wishlisthero-collection-product', product: product %}
      </span>
      {% comment %} 
      <button class="button-unstyled" type="button" data-toggle="tooltip" data-bs-placement="left" title="Add to wishlist" aria-label="Add to wishlist">
        {% render 'icon', icon: "heart" %}
      </button>
      {% endcomment %}
      {%- comment -%}
      <button class="button-unstyled" type="button" data-toggle="tooltip" data-bs-placement="left" title="Add to cart" aria-label="Add to cart">
        {% render 'icon', icon: "cart" %}
      </button>
      {%- endcomment -%}
      <button class="button-unstyled share_button" type="button" 
        data-toggle="tooltip" 
        data-bs-placement="left" 
        title="Share product" 
        aria-label="share product"
        data-product="{{ product.title }}"
        data-productlink="{{ product.url | prepend: shop.url }}"
      >
        {% render 'icon', icon: "share" %}
      </button>
    </div>

    {% if product.metafields.reviews.rating.value.rating %}
      <div class="product-rating rating-tag">
        {{ product.metafields.reviews.rating.value.rating }} {% render 'icon', icon: "star" %}
      </div>
    {% endif %}
  </div>

  <div class="product-listing-desc">
    <p>{{ product.title }}</p>
    {% if product.price_varies %}
    <p class="text-end">{{ product.price_min | money_without_trailing_zeros }} - {{ product.price_max | money_without_trailing_zeros }}</p>
    {% else %}
    <p class="text-end">{{ product.price | money_without_trailing_zeros }}</p>
    {% endif %}
  </div>
</div>