{% comment %} addresses {% endcomment %}

{% comment %} breadcrum {% endcomment %}
{% render 'breadcrumb' %}

{% render 'accounts-header' %}

<section>
  <div class="container" data-customer-addresses>
    <div id="profiletabcontent">
      <script src="{{ 'customer.js' | asset_url }}" defer></script>
  
      {%- paginate customer.addresses by 6 -%}
        <button
          data-bs-toggle="modal" data-bs-target="#addressModal" class="button mb-5" type="button">
          <span>
            <span class="link-text" data-text="Add new address">Add new address</span>
          </span>
        </button>
        
        <div class="row">
          {%- for address in customer.addresses -%}
          <div class="col-md-4">
            <div class="address-block {% if customer.default_address.id == address.id %}active{% endif %}">
              {{ address | format_address }}
              {% if customer.default_address.id == address.id %}
              <span class="default-address">
                Default Address
              </span>
              {% endif %}
            </div>
          </div>
          {%- endfor -%}
        </div>
  
        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                {%- if paginate.previous -%}
                  <li>
                    <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
  
                {%- for part in paginate.parts -%}
                  <li>
                    {%- if part.is_link -%}
                      <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}
  
                {%- if paginate.next -%}
                  <li>
                    <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
                </ul>
              </nav>
          {%- endif -%}
        {%- endif -%}
      {%- endpaginate -%}
  
      <script>
        window.onload = () => {
          typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
        }
      </script>
    </div>
  </div>
</section>

{% render 'addressform', customer: customer %}
