{% comment %} order {% endcomment %}
{%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}


{% comment %} breadcrum {% endcomment %}
{% render 'breadcrumb' %}

{% render 'accounts-header' %}

<div class="go-back-bar py-2 mb-4">
  <div class="container">
    <a href="{{ routes.account_url }}">
      {% render 'icon', icon: "chevron-left" %}
      back to my order
    </a>
  </div>
</div>

<section>
  <div class="container">
    <div class="order-detail-head pb-2">
      <h3 class="font-body">Order {{ order.name }}</h3>
      {%- comment -%}
      <p>
        Order placed on {{ order_date }} |
        <a href="#!" class="text-decoration-underline">TRACK HERE ##</a>
      </p>
      {%- endcomment -%}
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-hover table-default">
            <thead>
              <tr>
                <th>Product</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-end">Total</th>
              </tr>
            </thead>

            <tbody>
              {%- for line_item in order.line_items -%}
                <tr role="row">
                  <td id="Row{{ line_item.key }}" headers="ColumnProduct" role="rowheader" scope="row" data-label="Product">

                    <script>
                      console.log({{ line_item | json }});
                    </script>

                    <div class="order-detail-product flex align-items-center flex-wrap">
                      <div class="cover-image me-4">
                        {% render 'image-tag', 
                          image: line_item, 
                          image_alt: line_item.title
                        %}
                      </div>
                      <div>
                        {%- if line_item.url != blank -%}
                          <a href="{{ line_item.url }}">{{ line_item.title }}</a>
                        {%- else -%}
                          <p>{{ line_item.title }}</p>
                        {%- endif -%}

                        {% if line_item.sku %}
                          <p><small>SKU: {{ line_item.sku }}</small></p>
                        {% endif %}

                        {%- assign property_size = line_item.properties | size -%}
                        {%- unless line_item.selling_plan_allocation == nil and property_size == 0 -%}
                          <div class="properties">
                            {%- unless line_item.product.has_only_default_variant -%}
                              <span>
                                {{ line_item.variant.title }}
                              </span>
                            {%- endunless -%}
                            {%- unless line_item.selling_plan_allocation == nil -%}
                              <span>
                                {{ line_item.selling_plan_allocation.selling_plan.name }}
                              </span>
                            {%- endunless -%}
                            {%- if property_size != 0 -%}
                              {%- for property in line_item.properties -%}
                                {% assign property_first_char = property.first | slice: 0 %}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <span>
                                    {{ property.first }}:&nbsp;
                                    {%- if property.last contains '/uploads/' -%}
                                      <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                    {%- else -%}
                                      {{ property.last }}
                                    {%- endif -%}
                                  </span>
                                {%- endif -%}
                              {%- endfor -%}
                            {%- endif -%}
                          </div>
                        {%- endunless -%}
      
                        {%- if line_item.line_level_discount_allocations != blank -%}
                          <ul role="list" aria-label="Discount">
                            {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                              <li>
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                                  <use href="#icon-discount" />
                                </svg>
                                {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money -}})
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
      
                        {%- if line_item.fulfillment -%}
                          <div class="fulfillment">
                            {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                            <span>Fulfilled on {{ created_at }}</span><br>
                            {%- if line_item.fulfillment.tracking_url -%}
                              <a href="{{ line_item.fulfillment.tracking_url }}" target="_blank">
                                Track shipment{%- if line_item.fulfillment.tracking_number -%} : #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                              </a>
                            {%- else -%}
                              <span>
                                {{ line_item.fulfillment.tracking_company }}
                                {%- if line_item.fulfillment.tracking_number -%} : #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                              </span>
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                  </td>

                  <td headers="Row{{ line_item.key }} ColumnPrice" role="cell" data-label="Price" class="text-center">
                    {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                      <dl>
                        {%- if line_item.original_price != line_item.final_price -%}
                          <dt>
                            <span class="visually-hidden">Regular price</span>
                          </dt>
                          <dd class="regular-price">
                            <s>{{ line_item.original_price | money }}</s>
                          </dd>
                          <dt>
                            <span class="visually-hidden">Sale price</span>
                          </dt>
                          <dd>
                            <span>{{ line_item.final_price | money }}</span>
                          </dd>
                        {%- else -%}
                          <dt>
                            <span class="visually-hidden">Regular price</span>
                          </dt>
                          <dd>
                            {{ line_item.original_price | money }}
                          </dd>
                        {%- endif -%}
                        {%- if line_item.unit_price_measurement -%}
                          <dt>
                            <span class="visually-hidden">Unit price</span>
                          </dt>
                          <dd class="unit-price">
                            <span>
                              {%- capture unit_price_separator -%}
                                <span aria-hidden="true">/</span><span class="visually-hidden">per&nbsp;</span>
                              {%- endcapture -%}
                              {%- capture unit_price_base_unit -%}
                                {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                  {{- line_item.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ line_item.unit_price_measurement.reference_unit }}
                              {%- endcapture -%}
                              <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                            </span>
                          </dd>
                        {%- endif -%}
                      </dl>
                    {%- else -%}
                      <span>{{ line_item.final_price | money }}</span>
                    {%- endif -%}
                  </td>
                  
                  <td headers="Row{{ line_item.key }} ColumnQuantity" role="cell" data-label="Quantity" class="text-center">
                    {{ line_item.quantity }}
                  </td>
                  
                  <td headers="Row{{ line_item.key }} ColumnTotal" role="cell" data-label="Total" class="text-end">
                    {%- if line_item.original_line_price != line_item.final_line_price -%}
                      <dl>
                        <dt>
                          <span class="visually-hidden">Regular price</span>
                        </dt>
                        <dd class="regular-price">
                          <s>{{ line_item.original_line_price | money }}</s>
                        </dd>
                        <dt>
                          <span class="visually-hidden">Sale price</span>
                        </dt>
                        <dd>
                          <span>{{ line_item.final_line_price | money }}</span>
                        </dd>
                      </dl>
                    {%- else -%}
                      {{ line_item.original_line_price | money }}
                    {%- endif -%}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-4">
            <div class="order-table table-responsive">

              <table class="table table-default table-borderless">
                <tbody>
                  
                  <tr>
                    <td>Subtotal</td>
                    <td class="text-end">{{ order.line_items_subtotal_price | money }}</td>
                  </tr>

                  {%- for discount_application in order.cart_level_discount_applications -%}
                  <tr>
                    <td>Discount <span class="ms-2">({{ discount_application.title }})</span></td>
                    <td class="text-end">-{{ discount_application.total_allocated_amount | money }}</td>
                  </tr>
                  {%- endfor -%}

                  {%- for shipping_method in order.shipping_methods -%}
                  <tr>
                    <td>Shipping <span class="ms-2">({{ shipping_method.title }})</span></td>
                    <td class="text-end">{{ shipping_method.price | money }}</td>
                  </tr>
                  {%- endfor -%}
                          
                  {%- for tax_line in order.tax_lines -%}
                  <tr>
                    <td>Tax <span class="ms-2">({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</span></td>
                    <td class="text-end">{{ tax_line.price | money }}</td>
                  </tr>
                  {%- endfor -%}
                  
                  {%- if order.total_duties -%}
                    <tr>
                      <td>Total duties</td>
                      <td class="text-end">{{ order.total_duties | money }}</td>
                    </tr>
                  {%- endif -%}


                </tbody>
                <tfoot>
                  <tr style="border-top: 1px solid #a1a5a2">
                    <td class="bold">Total</td>
                    <td class="bold text-end">{{ order.total_price | money_with_currency }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="table-responsive pb-4">
          <table class="table table-default">
            <thead>
              <tr>
                <th>Shipping address</th>
              </tr>
            </thead>
            <tbody>
              <tr style="border: none">
                <td>
                  {{ order.billing_address | format_address }}
                  <p><strong>Fulfillment Status:</strong> {{ order.fulfillment_status_label }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive pb-4">
          <table class="table table-default">
            <thead>
              <tr>
                <th>Billing address</th>
              </tr>
            </thead>
            <tbody>
              <tr style="border: none">
                <td>
                  {{ order.shipping_address | format_address }}
                  <p><strong>Payment Status:</strong> {{ order.financial_status_label }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
