<div class="login-block section-pad border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="login-content">
          <h1>Register</h1>
          <p>
            Already have an account?
            <a href="{{ routes.account_url }}">Sign in here</a>
          </p>

          {%- form 'create_customer', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
              <h2 class="form__message" tabindex="-1" autofocus>
                Please fix the following errors:
              </h2>
              <ul> 
                {%- for field in form.errors -%}
                  <li>
                    {%- if field == 'form' -%}
                      {{ form.errors.messages[field] }}
                    {%- else -%}
                      <a href="#RegisterForm-{{ field }}">
                        {{ form.errors.translated_fields[field] | capitalize }}
                        {{ form.errors.messages[field] }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
            
            <div class="mb-4">
              <input
                type="text"
                name="customer[first_name]"
                id="RegisterForm-FirstName"
                {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
                autocomplete="given-name"
                placeholder="First name"
                class="form-control"
              >
            </div>
            <div class="mb-4">
              <input
                type="text"
                name="customer[last_name]"
                id="RegisterForm-LastName"
                {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
                autocomplete="family-name"
                placeholder="Last name"
                class="form-control"
              >
            </div>
            <div class="mb-4">
              <input 
                type="email"
                name="customer[email]"
                id="RegisterForm-email"
                {% if form.email %} value="{{ form.email }}"{% endif %}
                spellcheck="false"
                autocapitalize="off"
                autocomplete="email"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="RegisterForm-email-error"
                {% endif %}
                placeholder="Email"
                class="form-control" />
            </div>
            {%- if form.errors contains 'email' -%}
              <span id="RegisterForm-email-error" class="form__message">
                {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
              </span>
            {%- endif -%}
            <div class="mb-4">
              <input
                type="password"
                name="customer[password]"
                id="RegisterForm-password"
                aria-required="true"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="RegisterForm-password-error"
                {% endif %}
                placeholder="Password"
                class="form-control"
              />
            </div>

            {% comment %}             
            <div class="mb-4">
              <input
                type="password"
                name="customer[password]"
                id="RegisterForm-password"
                aria-required="true"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="RegisterForm-password-error"
                {% endif %}
                placeholder="Confirm password"
                class="form-control"
              />
            </div> 
            {% endcomment %}

            <div class="mb-4">
              <button class="button button-full" type="submit">
                <span>
                  <span class="link-text" data-text="Create my account">Create my account</span>
                </span>
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
