{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="bg-white border-b-2 border-black">
  <div class="container mx-auto px-4 md:px-6 py-9 md:py-12 lg:py-16">
    <p class="mb-5">
      {{ "Home" | link_to: routes.root_url }} /
      {% if collection.url %}
        {{ collection.title | link_to: collection.url }} /
      {%- else -%}
        {{ "All products" | link_to: routes.all_products_collection_url }} /
      {% endif %}
      <span>{{ product.title }}</span>
    </p>
  
    <div class="flex flex-col lg:flex-row gap-8">
      <!-- Preview Images -->
      <div class="w-full lg:w-3/6">
        <div class="w-full aspect-w-7 aspect-h-8 bg-gray-200 border-2 border-black rounded-lg overflow-hidden">
          {% assign classList = "w-full h-full object-center object-cover" %}
          {{ product.featured_image | image_url: width: 2000, format: 'pjpg' | image_tag: class: classList, loading: 'lazy' }}
        </div>
      </div>
  
      <!-- Description -->
      <div class="w-full lg:w-3/6">
        <h2 class="text-3xl md:text-5xl font-semibold font-serif mb-5">{{ product.title }}</h2>
  
        <div class="mb-5">{{ product.description }}</div>
  
        <p class="font-serif mb-5">
          {% if product.compare_at_price %}
            <s class="text-2xl lg:text-3xl font-light mr-3">{{ product.compare_at_price | money_with_currency }}</s>
          {% endif %}
          <span class="text-2xl lg:text-3xl font-bold">{{ product.price | money_with_currency }}</span>
        </p>
  
        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <script type="application/json">
            {{ product.variants | json }}
          </script>

          <div class="mt-6 lg:mt-8">
            <label class="form__label" for="Variants-{{ section.id }}">Select variant</label>
            <div class="select">
              <select name="id" id="Variants-{{ section.id }}" 
                class="form-select block w-full px-3 py-1.5 bg-white bg-clip-padding bg-no-repeat border border-black rounded m-0" form="{{ product_form_id }}">
                {%- for variant in product.variants -%}
                  <option
                    {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                    {% if variant.available == false %}disabled{% endif %}
                    value="{{ variant.id }}"
                  >
                    {{ variant.title }}
                    {%- if variant.available == false %} - Sold out!{% endif %}
                    - {{ variant.price | money | strip_html }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          </div>

          <div class="mt-6 lg:mt-8">
            <div class="flex flex-row justify-between mt-4">
              <p class="font-medium text-base leading-4 text-gray-600 flex items-center">Select quantity</p>
              {% render 'quantity-spinner' %}
            </div>
          </div>
          
          <hr class="bg-gray-200 w-full mt-4" />

          <button type="submit" class="submit-btn w-full mb-2 mt-6 lg:mt-12 px-10 py-5 bg-theme text-lg text-white font-semibold">Add to shopping bag</button>

        </div>

        {%- endform -%}
        
      </div>
    </div>
  </div>
</div>
