<div class="section-pad">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <h1 class="mb-5 text-center">Enter using a password</h1>
  
        {%- form 'storefront_password', class: 'password-form' -%}
          <div class="password-field field{% if form.errors %} password-field--error{% endif %} mb-4">
            <input
              type="password"
              name="password"
              id="Password"
              class="form-control" 
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              placeholder="Store password"
            >
            {%- if form.errors -%}
              <div id="PasswordLoginForm-password-error" role="status">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
              </div>
            {%- endif -%}
          </div>
  
          <button type="submit" name="commit" class="button button-full">
            <span>
              <span class="link-text" data-text="{{ 'general.password_page.login_form_submit' | t }}">
                {{ 'general.password_page.login_form_submit' | t }}
              </span>
            </span>
          </button>
        {%- endform -%}
  
        <p class="mt-5 mb-3 text-muted text-center">{{ shop.name }} &copy; {{ "now" | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</div>
